* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

/* Yarı transparan katman */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(145, 139, 139, 0.7); /* Yarı transparan arka plan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Katmanı ön plana getirir */
}

/* İçerik merkezi */
.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw; /* Yatayda ekranın %80'ini kaplasın */
}

/* Lottie animasyonu alanı */
#lottie-animation {
    width: 100%; /* Lottie animasyonu ekranın tamamını yatayda kaplasın */
    max-width: 100%; /* Geniş ekranlarda en fazla 500px genişlik olsun */
    height: auto; /* Yükseklik otomatik ayarlansın */
    margin-left: 10%;
}

/* Bilgilendirme yazısı */
#overlay-status {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    width: 100%; /* Yazıyı daha geniş hale getir */
    line-height: 1.5; /* Satır yüksekliğini artırarak daha rahat okunabilir yap */
    text-align: center; /* Yazıyı her iki yana yasla */
}

/* Animasyon (loading) */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.camera-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#camera {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#status {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

#result-modal {
    width: 90vw;
    height: 100vw;
    max-width: 600px; /* Maksimum genişlik ayarlanabilir */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 10001;
    display: none;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
}
.material-card {
    display: flex; /* Flexbox kullanarak içindeki öğeleri yerleştirin */
    flex-direction: column; /* Dikey yönde yerleştir */
    align-items: center; /* Yatayda ortala */
    justify-content: center; /* Dikeyde ortala */
    text-align: center; /* İçerik metnini ortala */
}
#logo-image {
    display: block; /* Görüntüyü başlangıçta göster */
    margin: 0 auto; /* Yatayda ortala */
}

#lottie-animation-end {
    display: none; /* Başlangıçta Lottie animasyonunu gizle */
    margin: 0 auto; /* Yatayda ortala */
}
.card-title {
    font-weight: normal; /* Başlık normal kalınlıkta olacak */
    margin: 10px 0;
}

.card-title strong {
    font-weight: bold; /* Sadece "NIKE" kelimesi kalın olacak */
}

.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}



.card-details {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card-button {
    flex: 1;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.approve-button {
    background-color: #0081ea;
}

.approve-button:hover {
    background-color: #0475d1;
}

.retry-button {
    background-color: #fb9772;
}

.retry-button:hover {
    background-color: #e28361;
}

 
  svg#progress {
    width: 100%;
    height: 50px;
    fill: currentColor;
    transition: color 0.2s ease-in-out;
    
  }
  
  .progress-bar {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawPath 5s forwards ease-in-out;
  }
  
  @keyframes drawPath {
    to {
      stroke-dashoffset: 0;
    }
  }